*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.3em;
    background-color: #F1F0EA;
}

.navbar a {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-right: 5em;
}

.navbar .logo {
    font-weight: bold;
    font-size: 31px;
    margin-right: 3em;
}

a.logout{
  margin-left: 2em;
  margin-right: 0;
}

.navbar form {
    flex: 0.5;
    align-self: flex-end;
    text-align: right;
}

.navbar input {
    width: 100%;
    max-width: 200px;
    background-color: white;
    color: black;
    padding: 0.5em;
    border: 1px solid white;
}

.promo_video .video{
  position: relative;
}

.promo_video .video video {
  
  width: 100%; /* Pas aan naar wens, bijvoorbeeld 300px of 50% */
  height: auto; /* Behoudt de aspectratio */
  
}

.video_overlay{
  background-color: hsla(0, 0%, 12%, 30%);
  display: grid;
  position: absolute;
  place-content: center;
  top: 76px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 1.5rem;
}

.video_content{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  max-width: 38em;
  text-wrap: balance;
  color: white;
}

.video_content h1{
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.video_content p{
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.video_content form{
  display: flex;
  gap: 1rem;
}


.our_products {
    gap: 1.5rem; 
  }
  
  .our_products_header {
    padding-top: 1.5rem;
    margin-bottom: 2rem; 
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
  }
  
  .products {
    display: flex;
    justify-content: space-evenly;
  }
  
  .product {
    max-width: 370px; 
  }
  
  .product a {
    text-decoration: none; 
    color: black;
  }
  
  .product img {
    max-width: 370px; 
    max-height: auto;
    border-radius: 8px; 
    margin-bottom: 0.8rem;
  }

  
  .item__title {
    font-size: 1.2rem;
  }

  .collection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-top: 2.5rem;
  }

  
  
  .collection_product img{
    width: 300px;
    height: 300px;
    background-color: #E6E6E6;
    border-radius: 8px;
    
  }

  .collection_product a{
    text-decoration: none;
    color: black;
  }

  .add_product{
    border: 2px solid grey;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add_product a{
    text-decoration: none;
    color: black;
    font-size: 120px;
  }

  .hidden{
    display: none;
  }
  
  .card{
    box-shadow: 0 6px 6px rgba(#000, 0.3);
    transition: 200ms;
    background: #fff;
  }
    
  .card__title{
    display: flex;
    align-items: center;
    padding: 30px 40px;
  }
      
  .card_title h3{
    flex: 0 1 200px;
    text-align: right;
    margin: 0;
    color: #252525;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
  }

  .icon{
    padding-top: 1.5rem;
  }
        
  .icon a{
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid #F1F0EA;
    background-color: #F1F0EA;
    padding: 15px 15px;
    transition: 200ms;
  }
        
  .icon a:hover{
    background-color: white;
    border-color: #F1F0EA;
    color:#F1F0EA;
  }
    
  .card__body{
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
      
  .image{
    padding-top: 15px;
    width: 100%;
  }
        
  .image img{
    display: block;
    max-width: 100%;
    height: auto;
  }   
  
  .description{
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    gap: 100px;
  }
  .description h1{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 31px;
    color: #252525;
  }      
  .description p{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 27px;
    font-size: 16px;
  }   
    
  .card__footer{
    text-align: center;
  }
  
  .delete_update_btn{
    display: flex;
    justify-content: space-evenly;
  }

  .action button{
    cursor: pointer;
    border: 1px solid #F1F0EA;
    padding: 14px 130px;
    border-radius: 200px;
    background: #F1F0EA;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    transition: 200ms;
  }       
  .action button:hover{
    background: #fff;
    color: #F1F0EA;
  }

  .action a{
    display: inline-block;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: 1px solid #F1F0EA;
    padding: 14px 130px;
    border-radius: 200px;
    background: #F1F0EA;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    transition: 200ms;
  }

  .action a:hover{
    background: #fff;
    color: #F1F0EA;
  }